<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A very simple form</title>
</head>
<body>
<form>
  Firstname:<br>
  <input type="text" name="firstname"><br>
  Lastname:<br>
  <input type="text" name="lastname"><br>
  Email:<br>
  <input type="text" name="firstname"><br>
  Telephonenumber:<br>
  <input type="text" name="lastname"><br>
 <input type="submit" value="Submit">
</form>

{% if name %}
    <p> Your Firstname is: {{ first name }}</p>
    <p> Your Lastname is: {{ surname }}</p>
    <p> Your email is : {{ email }}</p>
    <p> Your Telephonenumber is: {{ number }}</p>
    <p>Goodluck</p>
{% endif %}
</body>
</html>