<html>
   <head>
      <title> Arsenal Squad</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="mystyle.css">
        
        <!-- links normal html pages to CSS file -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- jQuery library link -->

        <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >

        <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
                <!-- navigation -->

    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Arsenal Opinions</a></li>
      <li><a href="/Emirates">The Emirates</a></li>
      <li><a href="/wenger">About Arsene Wenger</a></li> 
     <li><a href="/twitter">Twitter</a></li>
     
      </ul>
       <ul class="nav navbar-nav navbar-right">
      <li><a href="/enternew"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                   <!-- buttons for each page -->

    </ul>
  </div>
</nav>

      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Personal Details</h3>
         First Name<br>
         <input type = "text" name = "nm" /></br>
         
         Last Name<br>
         <textarea name = "add" ></textarea><br>
         
         Email<br>
         <input type = "text" name = "city" /><br>
         
         Phone Number<br>
         <input type = "text" name = "pin" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>